* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Lato', sans-serif;
}

.content {
    /* min-height: 100vh; */
    background: #d0eaf7;
    overflow: auto;
}

.header {
    display: flex;
    height: 15vh;
    width: 100%;
    background: #003d69;
    justify-content: space-evenly;
    align-items: center;
}

.tickets-container {
    height: 85vh;
    display: flex;
    flex-wrap: wrap;
    padding: 4rem;
    overflow: auto;
    grid-gap: 50px;
    background: #d0eaf7;
    justify-content: space-evenly;
    align-items: center;
}

.ticket-filters {
    display: flex;
    height: 47%;
    width: 24%;
    background: #001d5a;
    border-radius: 9px;
    justify-content: space-evenly;
    align-items: center;
}

.filter {
    width: 9%;
    border-radius: 6px;
    opacity: 0.5;
    height: 36%;
    background: teal;
}

.red {
    background: #ff0707 !important;
}

.red:hover {
    background-color: #d30000;
}

.orange {
    background: #FFA500 !important;
}

.orange:hover {
    background-color: #FFA500;
}

.green {
    background: #00ff15 !important;
}

.green:hover {
    background-color: #00bb0f;
}

.black {
    background: #000 !important;
}

.black:hover {
    background-color: #000;
}

.ticket-actions {
    display: flex;
    justify-content: normal;
    align-items: center;
    background: #001d5a;
    width: 13%;
    height: 45%;
    border-radius: 18px;
}

.open-modal {
    width: 50%;
    height: 100%;
    background: #001d5a;
    display: flex;
    align-items: center;
    border-radius: 18px;
    justify-content: center;
}

.open-modal:hover {
    background-color: #0178ce;
}

.fas {
    /* padding: 25px; */
    color: white;
    font-size: 1.5rem;
}

.fa-plus {
}

.close-modal {
    width: 50%;
    height: 100%;
    background: #001d5a;
    display: flex;
    align-items: center;
    border-radius: 18px;
    justify-content: center;
}

.close-modal:hover {
    background-color: #0178ce;
}

.fa-times {
}

.filter:hover {
    opacity: 1;
}

.ticket-box {
    /* background: yellowgreen; */
    height: 19rem;
    display: flex;
    outline: none;
    position: absolute;
    top: 15rem;
    left: calc((100vw - 30rem)/2);
    width: 33rem;
    margin: 20px;
}

.ticket-textbox {
    background: #ffe1ff;
    padding: 2rem;
    outline: none;
    width: 71%;
    font-size: 2rem;
    overflow: auto;
}

.ticket-pTag {
}

.ticket-filterbox {
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    flex-direction: column;
    align-items: center;
    width: 35%;
    background: #140e54;
}

.colours {
    background: violet;
    height: 11%;
    opacity: 0.5;
    width: 52%;
}

.colours:hover {
    opacity: 1;
}

.realTicketBox {
    justify-content: flex-start;
    border-bottom-right-radius: 15px;
    width: 23%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    /* padding: 1px; */
    /* align-items: unset; */
    flex-direction: column;
    /* border-top-left-radius: 10px; */
    align-self: start;
    display: flex;
    height: 32%;
    border-bottom-left-radius: 15px;
    background: white;
}

.ticket-header {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 14%;
    width: 100%;
    padding: 0px;
}

.realTextBoxID {
    font-weight: bold;
    padding: 8px;
}

.realText {
    padding: 2rem;
    align-self: center;
}

.active-filter {
    border: 3px solid whitesmoke;
    opacity: 1;
}

.ticket-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
}

.hide{
    visibility: hidden;
}

.fa-lock-open {
    color: black;
    padding: 6px;
    font-size: 1.2rem;
    cursor: pointer;
}

.fa-lock{
    color: black;
    padding: 6px;
    font-size: 1.2rem;
    cursor: pointer;
}

.fa-trash-alt {
    color: black;
    margin: 8px;
    cursor: pointer;
    font-size: 1.2rem;
}

.modal-due-date {
    width: 29%;
    background: wheat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.label-due-date {
    margin: 6px;
}

.due-date-input {
    width: 80%;
    margin: 6px;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 2px;
}

.submit-due-date {
    background: chartreuse;
    margin: 6px;
    height: 8%;
    width: 44%;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: 1px solid darkgray;
    cursor: pointer;
}

.submit-due-date:hover {
    background-color: #08b817;
}

.ticket-due-date {
}

.arrange-btn {
    font-size: 0.9rem;
    background: #001d5a;
    height: 30%;
    width: 5%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
}

.arrange-btn:hover {
    background-color: #0178ce;
}

/* Media Queries */
@media (max-width: 600px) {
    .arrange-btn {
        width: 10%;
    }

    .fas {
        font-size: 1rem;
    }

    .realTicketBox {
        width: 57%;
        height: 34%;
    }

    .ticket-box {
        height: 15rem;
        top: 15rem;
        left: calc((100vw - 27rem)/2);
        width: 25rem;
    }

    .due-date-input {
        width: 80%;
    }

    .submit-due-date {
        height: 10%;
        width: 47%;
        font-size: 0.8rem;
    }

    .tickets-container {
        padding: 3rem;
        grid-gap: 31px;
    }
}

@media (max-width: 700px) {
    .ticket-textbox {
        padding: 2rem;
        width: 71%;
        font-size: 1.5rem;
    }

    .tickets-container {
        padding: 3rem;
        grid-gap: 31px;
    }

    .realTicketBox {
        width: 60%;
        height: 34%;
    }

    .submit-due-date {
        width: 65%;
        font-size: 0.8rem;
    }

    .arrange-btn {
        width: 11%;
    }

    .ticket-box {
        height: 12rem;
        top: 15rem;
        left: calc((100vw - 21rem)/2);
        width: 21rem;
    }
}

@media (max-width: 360px) {
    .ticket-box {
        height: 13rem;
        top: 15rem;
        left: calc((100vw - 17rem)/2);
        width: 17rem;
    }

    .tickets-container {
        padding: 3rem;
        grid-gap: 31px;
    }

    * {
        font-size: 0.8rem;
    }

    .arrange-btn {
        width: 13%;
    }

    .tickets-container {
        padding: 4rem;
    }

    .realTicketBox {
        width: 66%;
        height: 28%;
    }

    .ticket-textbox {
        font-size: 1rem;
    }

    .submit-due-date {
        width: 75%;
        font-size: 0.6rem;
    }

    .due-date-input {
        width: 80%;
        font-size: 0.5rem;
    }
}

@media(max-width : 450px) {
    .ticket-box {
        height: 14rem;
        top: 17rem;
        left: calc((100vw - 18rem)/2);
        width: 20rem;
    }

    .tickets-container {
        padding: 3rem;
        grid-gap: 31px;
    }

    .due-date-input {
        width: 80%;
        font-size: 0.4rem;
    }

    .ticket-textbox {
        font-size: 1rem;
    }

    .submit-due-date {
        width: 73%;
        font-size: 0.7rem;
    }

    * {
        font-size: 0.8rem;
    }

    .realTicketBox {
        width: 51%;
        height: 27%;
    }
}

@media(max-width: 320px) {
    .realTicketBox {
        width: 75%;
        height: 31%;
    }

    .tickets-container {
        padding: 3rem;
        grid-gap: 31px;
    }

    .ticket-box {
        height: 14rem;
        top: 14rem;
        left: calc((100vw - 16rem)/2);
        width: 16rem;
    }
}

@media(max-width: 280px) {
    .realTicketBox {
        width: 80%;
        height: 48%;
    }

    .tickets-container {
        padding: 3rem;
        grid-gap: 31px;
    }

    .ticket-box {
        height: 10rem;
        top: 12rem;
        left: calc((100vw - 16rem)/2);
        width: 16rem;
    }
}

@media(max-height: 410px) {
    .realTicketBox {
        width: 80%;
        height: 48%;
    }

    .ticket-box {
        height: 10rem;
        top: 12rem;
        left: calc((100vw - 16rem)/2);
        width: 16rem;
    }

    .tickets-container {
        padding: 3rem;
        grid-gap: 31px;
    }
}

@media(max-height: 450px) {
    .realTicketBox {
        width: 73%;
        height: 44%;
    }

    .ticket-box {
        height: 10rem;
        top: 15rem;
        left: calc((100vw - 18rem)/2);
        width: 16rem;
    }

    .tickets-container {
        padding: 3rem;
        grid-gap: 31px;
    }
}

@media(max-height: 550px) {
    .realTicketBox {
        width: 70%;
        height: 33%;
    }

    .tickets-container {
        padding: 3rem;
        grid-gap: 31px;
    }
}
